<!-- wp:template-part {"slug":"header","theme":"aki-hamano-blog","area":"uncategorized"} /-->
<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)">
	<!-- wp:query {"queryId":1,"query":{"perPage":2,"pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"enhancedPagination":true,"layout":{"type":"default"}} -->
	<div class="wp-block-query">
		<!-- wp:group {"align":"full","layout":{"type":"default"}} -->
		<div class="wp-block-group alignfull">
			<!-- wp:query-no-results -->
				<!-- wp:paragraph -->
				<p>No posts were found.</p>
				<!-- /wp:paragraph -->
			<!-- /wp:query-no-results -->
			<!-- wp:post-template {"layout":{"type":"default"}} -->
				<!-- wp:post-title {"isLink":true,"style":{"layout":{"selfStretch":"fill","flexSize":null},"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"large"} /-->
				<!-- wp:post-date {"format":"en","style":{"layout":{"selfStretch":"fixed","flexSize":"15em"}}} /-->
			<!-- /wp:post-template -->
			<!-- wp:template-part {"slug":"pagination","theme":"aki-hamano-blog","area":"pagination"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"aki-hamano-blog","area":"uncategorized"} /-->
